@font-face {
font-family: 'parisian_fsregular';
src: url('Parisian-Regular-webfont.eot');
src: url('Parisian-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('Parisian-Regular-webfont.woff2') format('woff2'),
url('Parisian-Regular-webfont.woff') format('woff'),
url('Parisian-Regular-webfont.ttf') format('truetype'),
url('Parisian-Regular-webfont.svg#parisian_fsregular') format('svg');
font-weight: normal;
font-style: normal;
}